<div class="app-bar">
    <div class="toggle" id="toggler">
        <i class="fas fa-bars open"></i>
        <i class="fas fa-times close"></i>
    </div>
    <div class="logo">
        <img src="../../assets/images/logo.svg" alt="">
    </div>
    <div class="sign-in-area">
        <i class="far fa-bell" style="font-size: 2rem; margin-right: 30px;"></i>
        <i class="fas fa-user-circle" style="font-size: 4rem; color: #1E9AFE; margin-right: 8px;"></i>
        <div class="employee-info">
            <p class="name">Nguyen Nam...</p>
            <p class="position">Manager</p>
        </div>
    </div>
</div>