.app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 15rem;
    margin-top: 1rem;
}

.logo img {
    width: 100%;
}

.sign-in-area {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    margin-right: 1rem;
}

.employee-info>.name {
    color: #1E9AFE;
}

.employee-info>.position {
    color: #45B9D5;
}